* {
  padding: 0;
  margin: 0;
}

::selection {
  background: rgb(136, 168, 48);
  color: #fff;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #e6ecf0;
  height: 100%;
  width: 100%;
}

#left-div {
  background-image: url('../img/forest-branch-green-jungle-fauna-vegetation-135323-pxhere.com.jpg');
  width: 50%;
  height: 100%;
  float: left;
}

#right-div {
  float: right;
  width: 50%;
  height: 100%;
  color: #fff;
  background: rgb(34, 34, 34);
}

#learn {
  color: #fff;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

#learn_h1 {
  padding-top: 35%;
  padding-left: 25%;
}

#chat {
  margin-top: 5%;
  margin-left: 25%;
  color: #fff;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
}

#say {
  margin-top: 5%;
  margin-left: 25%;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

#icon {
  width: 60px;
  height: 60px;
  margin-left: 25%;
  margin-top: 23%;
}

#login {
  margin-left: 18%;
  margin-top: 5%;
  border-radius: 5px;
  width: 210px;
  font-size: 13px;
  padding: 0.1%;
  padding-left: 2%;
  height: 35px;
  border: 0.5px solid rgb(213, 213, 213);
}

#password {
  margin-top: 5%;
  margin-left: 1%;
  border-radius: 5px;
  padding: 0.1%;
  padding-left: 2%;
  font-size: 13px;
  border: 0.5px solid rgb(221, 219, 219);
  width: 210px;
  height: 35px;
}

#btn-sign-up:hover, #btn-sign-in:hover {
  background: rgb(80, 133, 19);
  transition: 0.5s ease;
}

#btn-sign-up, #btn-sign-in {
  width: 20em;
  color: #fff;
  margin-left: 13em;
  border: 1px solid rgb(80, 133, 19);
}

#btn-sign-up {
  margin-top: 1em;
}

#modal-content-bg {
  background: rgb(34, 34, 34);
}

#firstName, #secondName,
#emailSignUp, #passwordSignUp,
#countryInput, #cityInput, #regionInput {
  opacity: 0.8;
  color: #fff;
  background: none;
}

#rememberMe {
  color: #fff;
  background: none;
}

#signUpBtn, #signInBtn,
#resetPasswordBtn {
  background: rgb(80, 133, 19);
  color: #fff;
  border: 1px solid rgb(161, 161, 161);
}

#gender {
  background: none;
  opacity: 0.8;
  color: #fff;
}

#day, #month, #year {
  background: rgb(34, 34, 34);
  color: #fff;
  opacity: 0.8;
}

#yourGender, #male,
#female, #dontChoose {
  background: rgb(34, 34, 34);
  opacity: 0.8;
  color: #fff;
}

#uno {
  background: rgb(34, 34, 34);
  color: #fff;
}

#emailSignIn, #passwordSignIn {
  background: none;
  opacity: 0.8;
  color: #fff;
}

#slogan_1 {
  margin-top: 2%;
}

#slogan_1, #slogan_2 {
  margin-left: 25%;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
}

#join {
  margin-top: 5%;
}

#join, #join2 {
  margin-left: 25%;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

#closeSignUp, #closeSignIn {
  background: rgb(34, 34, 34);
  border: 1px solid #fff;
  color: #fff;
}

/* main */
#search-input {
  background: rgb(34, 34, 34);
  color: #fff;
  border: none;
}

#profile-gender, #profile-birthday {
  font-size: 1em;
}

#link-profile, #link-lenta,
#link-tematics {
  cursor: pointer;
}

#createPost {
  background: rgb(80, 133, 19);
  border: 1px solid rgb(80, 133, 19);
}

#createPost:hover {
  background: rgb(69, 112, 21);
  border: 1px solid rgb(69, 112, 21);
}

.post {
  margin: auto;
  margin-bottom: 1em;
}

.card-footer { border-top: 1px solid rgb(161, 161, 161); }

#authorPost {
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

#close {
  border: none;
  background: none;
  color: #fff;
}

.likePost { color: #e31b23; text-decoration: none; }
.dislikePost { color: green; text-decoration: none; }

#likePost {
  border-right: 1px solid rgb(161, 161, 161);
  padding-right: 1em;
}

#dislikePost { margin-left: 0.6em; }

#commentsPost {
  color: #fff;
  text-decoration: none;
}

#iconComments { color: #5298C3; }

.comment { 
  border-left: 1px solid rgb(161, 161, 161);
  border-right: 1px solid rgb(161, 161, 161);
}

#commentInput { 
  border: 0;
  border-radius: 0;
  border-top: 1px solid rgb(161, 161, 161); 
}

#button-comment {
  border-top: 1px solid rgb(161, 161, 161);
  border-left: 1px solid rgb(161, 161, 161);
}