a { text-decoration: none; }

#il-itests, #il-chat, 
#il-to-do-app, #profile-class { cursor: pointer; }

.likePost { color: red; }

#task {
    background: none;
    color: #000;
    border: 1px solid #000;
}

#name-task {
    background: none;
    color: #000;
}

